.notes {
  height: 100vh;
}

.notes__columns {
  height: calc(100vh - 24px);
  display: flex;
}

.notes__column {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.notes__column-content {
  flex: 1 0 0;
  min-height: 0;
}

.notes__column_list {
  width: 30%;
  background: #fffae0;
}

.notes__column_primary {
  background: white;
  width: 70%;
}

.notes__status-bar {
  font-size: small;
  padding: 4px 16px;
  background: #555;
  color: white;
  height: 24px;
}
